<div class= "jumbotron">
	<center>
		<h1>Welcome to Papa Lee's Pizza</h1>

		<img src="http://images.clipartpanda.com/clipart-pizza-RiAyEoB9T.jpeg">
		<br>

		<%= link_to "Check out our Pizzas!",
		pizzas_path, class: "btn btn-default"
		%>
	</center>
</div>